span{
  font-size: 2vw;
}
.about{
  border:1px solid black;
  height: 10vw;
  width: 100%;
  margin-bottom: 1vw;
}

.uName, .about, .email{
  font-size: 2vw;
}

.edit{
  position: relative;
  left:90%;
}
